body { 
    font-family: Tomorrow, sans-serif;
    background: url("https://i.redd.it/4sdqhxmo3gd41.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#trackTitle{
    color: white;
}

img{
    width: 400px;
    height: 400px;
}

.accordion{
    width: 400px;
}

.card-body{
    padding: 0px;
}


.list-group-item.pause{
    z-index: 2;
    color: #fff;
    background-color: #ff003c;
    border-color: #ff003c;
}

.btn-link:hover{
    color: #ff003c;
}

button:focus {
    outline: none;
}

#backward,#play,#forward{
    margin: 20px;
    width: 80px;
}

input[type="range"] {
    
    transform: rotate(270deg);
 }

